.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", "Open Sans", sans-serif;
  color: white;
  background-color: #b2b2b2;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  /*text-transform: uppercase;*/
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #233f6f;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}
.light {
  font-weight: 400;
}
.blue {
  color: blue;
}
.image-1 {
  background: url(../img/image-1.jpg) no-repeat bottom center scroll;
  background-size: 175px 126px;
  width: 175px;
  height: 126px;
}
.image-2 {
  background: url(../img/image-2.jpg) no-repeat bottom center scroll;
  background-size: 175px 131px;
  width: 175px;
  height: 131px;
}
.image-3 {
  background: url(../img/image-3.jpg) no-repeat bottom center scroll;
  background-size: 175px 158px;
  width: 175px;
  height: 158px;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #b2b2b2;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: black;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: none;
}
.navbar-custom a {
  color: black;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(0, 0, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: #b2b2b2;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar-custom.top-nav-collapse #logo {
    background-size: 49px 40px;
    width: 49px;
    height: 40px;
    -webkit-transition: background 0.1s ease-in-out, padding 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out, padding 0.1s ease-in-out;
    transition: background 0.1s ease-in-out, padding 0.1s ease-in-out;
  }
}
#logo {
  background: url(../img/logo.png) no-repeat bottom center scroll;
  background-size: 52px 49px;
  width: 52px;
  height: 49px;
}
@media (min-width: 768px) {
  #logo {
    background-size: 105px 98px;
    width: 105px;
    height: 98px;
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  /*padding: 100px 0;*/
  text-align: center;
  color: black;
  background: url(../img/intro-bg.jpg) no-repeat bottom center;
  /*background-color: @secondary-color;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  /*vertical-align: middle;*/
  /*padding: 125px 0 100px 0;*/
}
.intro .intro-body .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 22px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.intro .intro-body .brand-heading {
  margin-top: 15px;
  /*font-size: 25px;*/
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
  }
  .intro .intro-body .brand-heading {
    font-size: 70px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #1f5daa;
  background: rgba(178, 178, 178, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.content-section {
  padding-top: 125px;
}
.services-section {
  width: 100%;
  /*padding: 50px 0;*/
  color: white;
  /*background: url(../img/bg-2.jpg) no-repeat center center scroll;*/
  background-color: #b2b2b2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.aboutus-section {
  width: 100%;
  /*padding: 50px 0;*/
  color: black;
  background: url(../img/intro-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 0px;
  }
  .services-section {
    padding: 30px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 3px solid #233f6f;
  color: #233f6f;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 5px solid #233f6f;
  outline: none;
  color: white;
  background-color: #233f6f;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.site-header {
  background-color: #b2b2b2;
  *zoom: 1;
}
.site-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
#branding {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
#branding .logo,
#branding .logo-text {
  display: inline-block;
  vertical-align: middle;
}
#branding .logo {
  margin-right: 10px;
  background-size: 105px 98px;
  width: 95px;
  height: 84px;
}
#branding .site-title {
  font-size: 18px;
  font-size: 1.28571429em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}
#branding .site-title a {
  color: white;
}
#branding .site-description {
  font-size: 15px;
  font-size: 1.07142857em;
  color: white;
}
.main-navigation {
  float: right;
}
.main-navigation .menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  font-size: 1.71428571em;
  display: inline-block;
  vertical-align: middle;
  padding: 30px 15px;
  outline: none;
}
@media screen and (min-width: 991px) {
  .main-navigation .menu-toggle {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .main-navigation .menu-toggle {
    display: block;
  }
}
.main-navigation .menu {
  display: inline-block;
}
@media screen and (min-width: 991px) {
  .main-navigation .menu {
    display: block !important;
  }
}
@media screen and (max-width: 990px) {
  .main-navigation .menu {
    display: none;
  }
}
.main-navigation .menu-item {
  display: inline-block;
}
.main-navigation .menu-item a {
  padding: 40px 15px;
  position: relative;
  display: block;
  color: white;
  text-transform: uppercase;
}
.main-navigation .menu-item a:after {
  content: "/";
  color: #585858;
  position: absolute;
  right: 0;
}
.main-navigation .menu-item:last-child a:after {
  display: none;
}
.main-navigation .menu-item.current-menu-item a,
.main-navigation .menu-item:hover a {
  color: #233f6f;
  border-bottom: 4px solid #233f6f;
}
.mobile-navigation {
  clear: both;
  padding: 30px 0;
  display: none;
}
@media screen and (min-width: 991px) {
  .mobile-navigation {
    display: none !important;
  }
}
.mobile-navigation .menu {
  list-style: none;
  padding: 20px;
  border-top: 2px solid #233f6f;
  border-bottom: 2px solid #233f6f;
  text-transform: uppercase;
}
.mobile-navigation .menu a {
  padding: 10px 0;
  display: block;
  color: white;
}
.mobile-navigation .menu .current-menu-item a {
  color: #233f6f;
}
.hero-slider {
  position: relative;
  margin-top: 125px;
}
.hero-slider .slides {
  padding-left: 0px;
  list-style: none;
  *zoom: 1;
}
.hero-slider .slides:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.hero-slider .slides li {
  min-height: 300px;
  background-size: 100% 100%;
  /*background-position: center;*/
}
.hero-slider .slide-title {
  font-size: 36px;
  font-size: 2.57142857em;
  margin-top: 100px;
  letter-spacing: 3px;
}
.hero-slider .slide-title span {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #1f5daa;
  color: white;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .hero-slider .slide-title {
    margin-top: 200px;
  }
}
.hero-slider .flex-direction-nav {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  height: 40px;
  list-style: none;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .hero-slider .flex-direction-nav {
    width: 750px;
    bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .hero-slider .flex-direction-nav {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-slider .flex-direction-nav {
    width: 1170px;
  }
}
.hero-slider .flex-direction-nav li {
  display: inline-block;
  margin-right: 10px;
}
.hero-slider .flex-direction-nav li a {
  width: 64px;
  height: 64px;
  display: block;
  color: white;
  text-align: center;
  line-height: 2;
  font-size: 30px;
  font-size: 2.14285714em;
}
.hero-slider .flex-direction-nav li a.flex-prev {
  background: url("../img/slider/prev.png");
}
.hero-slider .flex-direction-nav li a.flex-next {
  background: url("../img/slider/next.png");
}
.page {
  padding: 50px 0;
}
.page .align-left {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.page .align-right {
  float: right ;
  margin-left: 30px;
  margin-bottom: 30px;
}
.page .entry-title {
  font-size: 36px;
  font-size: 2.57142857em;
  margin-bottom: 35px;
  list-style: 3px;
  font-weight: 300;
  text-transform: uppercase;
}
.page p {
  font-size: 16px;
  font-size: 1.14285714em;
  line-height: 2;
}
.feature-numbered {
  text-align: center;
}
.feature-numbered .num {
  text-align: center;
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 3px solid #233f6f;
  margin-bottom: 20px;
  font-size: 30px;
  font-size: 2.14285714em;
  color: #233f6f;
  font-weight: 700;
  line-height: 2;
  position: relative;
  border-radius: 20%;
  /*		&:before,&:after{
                                content:" ";
                                width: 25px;
                                height: 20px;
                                position: absolute;
                                opacity: 0.5;
                                background-color: @bg-color; 
                        }
        
                        &:before{
                                border-bottom: 3px solid @accent-color;
                                transform: rotate(-45deg);
                                top:-9px;
                                left: -12px;
                        }
                        &:after{
                                border-top: 3px solid @accent-color;	
                                transform: rotate(-45deg);
                                bottom:-9px;
                                right: -12px;
                        }*/
}
.feature-numbered .feature-title {
  font-size: 18px;
  font-size: 1.28571429em;
  text-transform: uppercase;
  font-weight: 300;
  color: #233f6f;
  letter-spacing: 3px;
}
.testimonial {
  margin: 0 0 30px;
}
.testimonial cite {
  font-style: normal;
  color: #233f6f;
}
.section-title {
  font-size: 36px;
  font-size: 2.57142857em;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.separator {
  border: none;
  border-top: 1px solid #383838;
  margin: 50px 0;
  clear: both;
}
.project {
  margin-bottom: 30px;
}
.project .project-thumbnail {
  margin-bottom: 20px;
}
.project .project-thumbnail img {
  max-width: 100%;
  display: block;
}
.project .project-title {
  font-size: 18px;
  font-size: 1.28571429em;
  font-weight: 300;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #233f6f;
  letter-spacing: 2px;
}
.project .project-subtitle {
  font-size: 12px;
  font-size: 0.85714286em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: block;
}
.testimonial-slider .slides {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 30px;
  *zoom: 1;
}
.testimonial-slider .slides:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.testimonial-slider blockquote {
  margin: 0;
}
.testimonial-slider blockquote cite {
  display: block;
  margin-top: 20px;
  color: #233f6f;
  font-style: normal;
}
.testimonial-slider .flex-control-nav {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}
.testimonial-slider .flex-control-nav li {
  display: inline-block;
  margin-right: 5px;
}
.testimonial-slider .flex-control-nav li a {
  overflow: hidden;
  text-indent: -9999px;
  width: 14px;
  height: 14px;
  display: block;
  background: url(../img/paging-inactive.png) no-repeat;
  cursor: pointer;
}
.testimonial-slider .flex-control-nav li a.flex-active {
  background: url(../img/paging-active.png) no-repeat;
}
.fullwidth-block {
  padding: 50px 0;
}
.fullwidth-block.image-block {
  min-height: 300px;
}
.filterable-nav {
  margin: 50px 0;
}
.filterable-nav .mobile-filter {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #233f6f;
  padding: 10px 20px;
  color: #233f6f;
  border-radius: 0;
  background: none;
  text-transform: uppercase;
  outline: none;
}
@media screen and (max-width: 768px) {
  .filterable-nav .mobile-filter {
    display: block;
  }
}
.filterable-nav a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: 2px solid #383838;
  position: relative;
  color: white;
  text-transform: uppercase;
  transition: .3s ease;
}
@media screen and (max-width: 768px) {
  .filterable-nav a {
    display: none;
  }
}
.filterable-nav a:before,
.filterable-nav a:after {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  background: #b2b2b2;
  transition: .3s ease;
}
.filterable-nav a:before {
  border-bottom: 2px solid #383838;
  transform: rotate(-45deg);
  top: -10px;
  left: -10px;
}
.filterable-nav a:after {
  border-top: 2px solid #383838;
  transform: rotate(-45deg);
  bottom: -10px;
  right: -10px;
}
.filterable-nav a.current,
.filterable-nav a:hover {
  border-color: #233f6f;
  color: #233f6f;
}
.filterable-nav a.current:before,
.filterable-nav a:hover:before,
.filterable-nav a.current:after,
.filterable-nav a:hover:after {
  border-color: #233f6f;
}
.filterable-items {
  *zoom: 1;
}
.filterable-items:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.project-item {
  width: 33.333%;
  padding: 0 15px;
  margin-bottom: 30px;
  float: left;
}
@media screen and (max-width: 768px) {
  .project-item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .project-item {
    width: 100%;
  }
}
.project-item img {
  max-width: 100%;
  margin-bottom: 20px;
  display: block;
}
.project-item .project-title {
  font-size: 18px;
  font-size: 1.28571429em;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  color: #233f6f;
}
.project-item .project-subtitle {
  font-size: 12px;
  font-size: 0.85714286em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
}
.project-images img {
  max-width: 100%;
}
.project-images .thumbs {
  margin: 0 -10px;
  *zoom: 1;
  margin-top: 30px;
}
.project-images .thumbs:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.project-images .thumbs a {
  width: 33.3333%;
  display: block;
  float: left;
  text-align: center;
}
.project-images .thumbs a img {
  max-width: 100%;
}
#services {
  /*    * {
            z-index: 2;
        }*/
}
#services .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#services .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
#services .portfolio-item .portfolio-link img {
  width: 100%;
}
#services .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(31, 93, 170, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#services .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#services .portfolio-item .portfolio-caption {
  color: #233f6f;
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#services .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#services .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.portfolio-modal {
  width: 100%;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
section#contact {
  background-color: #233f6f;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #233f6f;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #233f6f;
}
/*
section {
    padding: 100px 0;
    h2.section-heading {
                font-size: 40px;
                margin-top: 0;
                margin-bottom: 15px;
    }
    h3.section-subheading {
                font-size: 16px;
                .serif-font;
                text-transform: none;
                font-style: italic;
                font-weight: 400;
                margin-bottom: 75px;
    }
}

@media(min-width:768px) {
        section {
                padding: 150px 0;
        }
}

// Services Section

.service-heading {
        margin: 15px 0;
        text-transform: none;
}*/
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=grayscale.css.map */