// Variables
@primary-font      : "Roboto Condensed", "Open Sans", sans-serif;
@browser-context: 14; // Default

@primary: #233F6F;
@secondary: #1F5DAA;

// Color Variables
@accent-color      : #233F6F;
@primary-color     : @accent-color;
@secondary-color   : #ebebeb;

@bg-color          : #212121;
@body-color        : white;
@muted-color       : #585858;

// Grid system
@grid-columns      : 12 !default;
@grid-gutter-width : 30px !default;
